<h1>Editing <%= @user.name %></h1>
<%= form_for @user, url: {action: "update"}, html: {class: "whatever"} do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :description %>
<%= f.password :password %>
<%= f.label :password_confirmation %>
<%= f.password :password_confirmation %>
<%= f.label :permission %>
<%= f.number_field :permission %>
<%= f.submit "Save changes to this user" %>
<% end %>
<br>
<%= form_for @user, url: {action: "destroy"}, html: {class: "whatever"} do |f|%>
<%= f.hidden_field :id %>
<%= f.submit "Delete this user" %>
<% end %>
<button>
  <a href="/users/">Back to all users</a>
</button>