<h1>Creating a new user</h1>
<%= form_for @user, url: {action: "create"}, html: {class: "whatever"} do |f|%>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
<%= f.label :permission %>
<%= f.number_field :permission %>
<%= f.submit "Make a user" %>
<% end %>
<button>
  <a href="/users/">Back to all users</a>
</button>