<div class="duck box <%= "liked" if @duck.liked_by?(session[:user_id])%>" id="duck<%= @duck.id.to_s %>">
  <ul>
    <li>Id: <%= @duck.id.to_s %></li>
    <li>Name: <%= @duck.name %></li>
    <li>Description:<br>
      <p><%= @duck.description %></p>
    </li>
    <li>Age: <%= @duck.age.to_s %></li>
    <li>Gender: <%= @duck.gender.to_s %></li>
    <li class="<%= "hide_me" if !@duck.users.exists? %>">Liked By: <%= @duck.names_of_users.join(", ") %></li>
  </ul>
  <div class="sinker">
    <% if session[:user_id] && @duck.liked_by?(session[:user_id]) %>
      <%= render 'unlike_button' %>
    <% elsif session[:user_id] %>
      <%= render 'like_button' %>
    <% else %>
    <% end %>
    <% if admin_logged_in? %>
      <button>
      <a href="/ducks/<%= @duck.id.to_s %>/edit/">Make changes to this Duck</a>
      </button>
    <% end %>
  </div>
</div>