<div class="duck box" id="duck<%= @duck.id.to_s %>">
  <ul>
    <li>Id: <%= @duck.id.to_s %></li>
    <li>Name: <%= @duck.name %></li>
    <li>Description:<br>
      <p><%= @duck.description %></p>
    </li>
    <li>Age: <%= @duck.age.to_s %></li>
    <li>Gender: <%= @duck.gender.to_s %></li>
  </ul>
  <%= form_for Like.new, url: {action: "create"}, html: {class: "whatever"} do |f|%>
  <%= f.hidden_field :duck_id, {value: @duck.id} %>
  <%= select_tag(:user_id, options_for_select(User.all.map{|user| [user.name,user.id]})) %>
  <%= f.submit "Like this duck" %>
  <% end %>
  <button>
  <a href="/ducks/<%= @duck.id.to_s %>/edit/">Make changes to this Duck</a>
  </button>
</div>