<div class="title"><h1>Editing <%= @duck.name %></h1></div>
<div class="box_wrap">
  <div class="box">
    <ul>
      <% @duck.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
  <%= form_for @duck, url: {action: "update"}, html: {class: "whatever"} do |f|%>
  <%= f.hidden_field :id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description, size: "40x10" %>
  <%= f.label :age %>
  <%= f.number_field :age %>
  <%= f.label :gender %>
  <%= f.number_field :gender %>
  <%= f.submit "Save changes to this duck" %>
  <% end %>
  <%= form_for @duck, url: {action: "destroy"}, method: 'delete', html: {class: "whatever"} do |f|%>
  <%= f.hidden_field :id %>
  <%= f.submit "Delete this duck" %>
  <% end %>
  </div>
</div>
<button>
  <a href="/ducks/">Back to all Ducks</a>
</button>