<div class="title"><h1>Creating a new duck</h1></div>
<div class="box_wrap">
  <div class="box">
    <ul>
      <% @duck.errors.full_messages.each do |msg| %>
        <li class="error"><%= msg %></li>
      <% end %>
    </ul>
    <%= form_for @duck, url: {action: "create"}, html: {class: "whatever"} do |f|%>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <%= f.label :age %>
    <%= f.number_field :age %>
    <%= f.label :gender %>
    <%= f.number_field :gender %>
    <%= f.submit "Make a Duck" %>
    <% end %>
  </div>
</div>
<button>
  <a href="/ducks/">Back to all Ducks</a>
</button>